@import "imports/variables.css";
@import "imports/layout.css";
@import "imports/ui.css";
@import "imports/details.css";



.results > div {
    padding: 1rem;
    border: 1px solid grey;
    margin: 1rem;
}

img {
    width: 200px;
}

.img {
    width
}